<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <ion-refresher on-refresh="doRefresh()">

    </ion-refresher>

    <center><h3>{{infos.city.name}}</h3></center>

    <div class="list">

      <a class="item item-icon-left" href="#">
<!--        <i class="icon ion-email"></i>-->
        Qualidade do ar:
        <span class="badge badge-assertive">{{infos.aqi}}</span>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
<!--        <i class="icon ion-chatbubble-working"></i>-->
        Nível de CO:
        <span class="badge badge-assertive">{{infos.iaqi.co.v}}</span>

      </a>

      <a class="item item-icon-left" href="#">
<!--        <i class="icon ion-mic-a"></i>-->
        Nível de NO2:
        <span class="badge badge-assertive">{{infos.iaqi.no2.v}}</span>

      </a>

      <a class="item item-icon-left" href="#">
<!--        <i class="icon ion-person-stalker"></i>-->
        Nível de ozônio:
        <span class="badge badge-assertive">{{infos.iaqi.o3.v}}</span>
      </a>

      <a class="item item-icon-left" href="#">
<!--        <i class="icon ion-person-stalker"></i>-->
        Nível PM10:
        <span class="badge badge-assertive">{{infos.iaqi.pm10.v}}</span>
      </a>

      <a class="item item-icon-left" href="#">
<!--        <i class="icon ion-person-stalker"></i>-->
        Nível PM2.5:
        <span class="badge badge-assertive">{{infos.iaqi.pm25.v}}</span>
      </a>

    </div>

  </ion-content>
</ion-view>
